    @import 'owl.carousel.min.css';
    @import 'owl.theme.default.css';
    @import 'fonts.css';
    * {
        margin: 0;
        padding: 0;
    }

    .wrapper {
        width: 1200px;
        margin: 0 auto;
    }

    .header-top {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        .header-top__language {
            p {
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                color: rgba(0, 0, 0, 0.8);
                display: inline;
            }
            select {
                border: none;
                font-family: "Source Sans Pro";
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: rgba(0, 0, 0, 0.8);
            }
        }
        .header-top__icon {
            margin-left: 150px;
        }
        .header-top__contacts {
            padding-right: 20px;
            a {
                font-family: "Commissioner";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.5);
                text-decoration: none;
                padding: 0 10px;
            }
            .msg::after {
                content: url(/img/msg.png);
                position: relative;
                top: 3px;
                left: 10px;
            }
            .mts::after {
                content: url(/img/mts.png);
                position: relative;
                top: 3px;
                left: 15px;
            }
        }
    }

    .header-botton {
        padding: 15px 15px 20px;
        display: flex;
        justify-content: space-between;
        ul {
            font-weight: bold;
            padding-top: 13px;
            display: flex;
            font-size: 11px;
            text-align: right;
        }
        li {
            padding: 0 25px;
            list-style: none;
            a {
                font-family: "Commissioner";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.75);
                text-decoration: none;
            }
        }
    }

    .visitca {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        .owl-carousel {
            .owl-nav {
                position: absolute;
                bottom: 10%;
                text-align: center;
                width: 100%;
                .owl-next {
                    margin-right: 1000px;
                    span {
                        width: 42px;
                    }
                }
            }
            .item {
                position: relative;
                img {
                    width: 100vw;
                }
                .item-discription {
                    position: absolute;
                    width: 500px;
                    height: 240px;
                    top: 24%;
                    margin-left: 15px;
                    h4 {
                        font-family: "Commissioner";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 40px;
                        line-height: 50px;
                        letter-spacing: 0.01em;
                        color: rgba(0, 0, 0, 0.9);
                    }
                    p {
                        font-family: "Lato", sans-serif;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 15px;
                        line-height: 25px;
                        color: rgba(0, 0, 0, 0.8);
                        padding: 20px 0 50px 0;
                    }
                    button {
                        width: 200px;
                        height: 45px;
                        background: #DEC377;
                        border-radius: 2px;
                        font-family: "Commissioner";
                        font-style: normal;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 30px;
                        text-align: center;
                        letter-spacing: 0.08em;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        border: none;
                    }
                }
            }
        }
    }

    .basic-information {
        background: #E5E5E5;
        h2 {
            font-family: "Commissioner";
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 40px;
            letter-spacing: 0.03em;
            color: rgba(0, 0, 0, 0.9);
            padding-left: 15px;
        }
        .quality-mark {
            position: relative;
            top: -50px;
            z-index: 100;
            img {
                width: 270px;
            }
        }
        .legal-technology {
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
            margin: 0 15px 100px;
            .legal-technology_item {
                width: 539px;
                padding: 50px 70px;
                h2 {
                    padding: 0;
                }
                p {
                    padding: 30px 70px 0 0;
                    font-family: "Lato", sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 25px;
                    color: rgba(0, 0, 0, 0.8);
                }
            }
        }
        .main-directions {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 15px;
            .main-directions_item {
                position: relative;
                width: 370px;
                background: #FFFFFF;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
                margin: 30px 5px 30px 0;
                div {
                    position: relative;
                    width: 180px;
                    height: 90px;
                    margin: 25px 40px;
                    h3 {
                        font-family: "Commissioner";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 30px;
                        color: rgba(0, 0, 0, 0.9);
                    }
                    p {
                        font-family: "Lato", sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 20px;
                        letter-spacing: 0.02em;
                        text-transform: uppercase;
                        color: rgba(0, 0, 0, 0.5);
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        padding-top: 10px;
                        cursor: pointer;
                    }
                }
                img {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }
            }
        }
        .btn-allServuse {
            width: 200px;
            height: 45px;
            background: #DEC377;
            border-radius: 2px;
            font-family: "Commissioner";
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #FFFFFF;
            border: none;
            cursor: pointer;
            margin: 0 15px;
        }
        .discription {
            padding-top: 100px;
            display: flex;
            justify-content: space-between;
            p {
                font-family: "Lato", sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 15px;
                line-height: 25px;
                color: rgba(0, 0, 0, 0.8);
                width: 64%;
            }
        }
        .gallery {
            position: relative;
            bottom: -60px;
            margin: 0 15px 60px;
            .owl-carousel {
                .owl-nav {
                    .owl-prev,
                    .owl-next {
                        position: absolute;
                        bottom: 50%;
                        margin: 0;
                    }
                    .owl-prev {
                        left: -20px;
                    }
                    .owl-next {
                        right: -20px;
                    }
                }
            }
        }
    }

    .reviews {
        h2 {
            font-family: "Commissioner";
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 40px;
            letter-spacing: 0.03em;
            color: rgba(0, 0, 0, 0.9);
            padding: 100px 15px 35px;
        }
        .owl-carousel {
            position: relative;
            .owl-stage-outer {
                padding-bottom: 30px;
                padding-left: 20px;
            }
            .owl-nav {
                position: absolute;
                bottom: -30px;
                right: 0;
            }
            .owl-dots {
                position: absolute;
                bottom: -30px;
                right: 46%;
            }
            .item {
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
                height: 550px;
                width: 570px;
                div {
                    padding: 0 50px 65px 50px;
                }
                span {
                    font-family: "Lato", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 25px;
                    color: rgba(0, 0, 0, 0.5);
                }
                img {
                    padding-bottom: 40px;
                }
                p {
                    font-family: "Lato", sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 25px;
                    letter-spacing: 0.01em;
                    color: rgba(0, 0, 0, 0.8);
                    padding-bottom: 25px;
                }
                button {
                    font-family: "Lato", sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    color: rgba(0, 0, 0, 0.5);
                    border: none;
                    cursor: pointer;
                    background-color: transparent;
                    position: absolute;
                }
                h4 {
                    font-family: "Commissioner";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 26px;
                    line-height: 40px;
                    letter-spacing: 0.01em;
                    color: #DEC377;
                    padding-bottom: 20px;
                }
            }
        }
        .btn-allServuse {
            width: 200px;
            height: 45px;
            background: #DEC377;
            border-radius: 2px;
            font-family: "Commissioner";
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #FFFFFF;
            border: none;
            cursor: pointer;
            margin-left: 15px;
        }
        .partners {
            padding-top: 100px;
            .parters-discription {
                display: flex;
                margin: 0 15px;
                p {
                    font-family: "Lato", sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 25px;
                    color: rgba(0, 0, 0, 0.8);
                }
                button {
                    width: 200px;
                    height: 45px;
                    border: 2px solid #DEC377;
                    box-sizing: border-box;
                    border-radius: 2px;
                    flex: none;
                    margin: 0px 10px;
                    font-family: "Commissioner";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 30px;
                    text-align: center;
                    letter-spacing: 0.08em;
                    text-transform: uppercase;
                    color: #DEC377;
                    margin: 0 200px 0 100px;
                }
            }
            .partners-logo {
                display: flex;
                justify-content: space-around;
                padding: 47px 0 100px 0;
                img {
                    height: 100%;
                }
            }
        }
    }

    .service {
        background: #E5E5E5;
        padding-bottom: 85px;
        h2 {
            font-family: "Commissioner";
            font-style: normal;
            font-weight: normal;
            font-size: 26px;
            line-height: 45px;
            color: rgba(0, 0, 0, 0.9);
            padding: 0 15px 15px;
        }
        p {
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
            line-height: 25px;
            color: rgba(0, 0, 0, 0.8);
        }
        .warranty-service {
            padding: 80px 15px 0;
            .block_warranty-service {
                display: flex;
                justify-content: space-between;
                .warranty-service_item {
                    position: relative;
                    img {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
                .warranty-service_item:last-child {
                    margin-left: 30px;
                }
            }
            .warranty-service_item {
                background: #FFFFFF;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
                padding: 40px 50px 50px 50px;
            }
            .warranty-service_item-many {
                margin: 30px 0 100px 0;
                display: flex;
                justify-content: space-between;
                p {
                    display: inline-block;
                    width: 70%;
                    margin-left: 30px;
                }
                h2 {
                    margin-right: 20px;
                }
            }
        }
        .pictureBackground {
            width: 100%;
            padding-bottom: 80px;
        }
        .service-list {
            display: flex;
            .servis-item {
                width: 470px;
                height: 140px;
                background: #FFFFFF;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
                margin: 15px;
                position: relative;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                h3 {
                    font-family: "Commissioner";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 30px;
                    color: rgba(0, 0, 0, 0.9);
                    padding: 25px 0 0 100px;
                }
                .btn-servisList {
                    position: absolute;
                    bottom: 20px;
                    right: 30px;
                    font-family: "Lato", sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    color: rgba(0, 0, 0, 0.5);
                    cursor: pointer;
                }
            }
        }
        .list-one {
            .servis-item:last-child {
                width: 670px;
            }
            .servis-item:first-child {
                width: 470px;
            }
        }
        .list-two {
            .servis-item {
                width: 570px;
            }
        }
        .list-three {
            .servis-item:last-child {
                width: 470px;
            }
            .servis-item:first-child {
                width: 670px;
            }
        }
        .discription {
            display: flex;
            justify-content: space-between;
            padding: 15px;
            p {
                width: 770px;
            }
            button {
                font-family: "Commissioner";
                font-style: normal;
                font-weight: bold;
                font-size: 13px;
                line-height: 30px;
                text-align: center;
                letter-spacing: 0.08em;
                text-transform: uppercase;
                color: #FFFFFF;
                width: 200px;
                height: 45px;
                background: #DEC377;
                border-radius: 2px;
                border: none;
            }
        }
    }

    .confidence {
        padding: 20px 0 40px;
        .line {
            width: 1170px;
            height: 1px;
            margin-left: 15px;
            background: rgba(0, 0, 0, 0.1);
            transform: matrix(1, 0, 0, -1, 0, 0);
        }
        .confidence-container {
            display: flex;
            justify-content: space-between;
            padding: 60px 15px 60px;
            .confidence-item {
                width: 470px;
                h2 {
                    font-family: "Commissioner";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 28px;
                    line-height: 40px;
                    letter-spacing: 0.03em;
                    color: rgba(0, 0, 0, 0.9);
                    padding-bottom: 30px;
                }
                p {
                    font-family: "Lato", sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 25px;
                    color: rgba(0, 0, 0, 0.8);
                }
                ul {
                    li {
                        font-family: "Lato", sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 17px;
                        letter-spacing: 0.01em;
                        color: rgba(0, 0, 0, 0.75);
                        list-style: none;
                        padding: 10px 0 15px 50px;
                        background: url(/img/list-style.png) 0px 0px no-repeat;
                    }
                }
            }
        }
    }

    .our-advantages {
        background: #E5E5E5;
        padding: 80px 0 100px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        h2 {
            font-family: "Commissioner";
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 40px;
            letter-spacing: 0.03em;
            color: rgba(0, 0, 0, 0.9);
            padding-left: 15px;
        }
        .quality-mark {
            display: flex;
            justify-content: space-between;
            img {
                width: 280px;
            }
        }
        .discription {
            position: relative;
            margin: 15px;
            background: #FFFFFF;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
            p {
                font-family: "Lato", sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 15px;
                line-height: 25px;
                width: 60%;
                padding: 40px 0 45px 50px;
            }
            img {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .contact-form {
            display: flex;
            justify-content: space-between;
            padding: 85px 15px 100px;
            .contact-item {
                width: 500px;
                h2 {
                    padding: 0 0 15px;
                }
                p {
                    font-family: "Lato", sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 25px;
                    letter-spacing: 0.01em;
                    color: rgba(0, 0, 0, 0.8);
                    flex: none;
                    order: 2;
                    align-self: flex-start;
                    flex-grow: 0;
                    margin: 20px 0 0px 0;
                }
                ul {
                    li {
                        font-family: "Lato", sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 25px;
                        color: rgba(0, 0, 0, 0.8);
                        list-style: none;
                        padding: 15px 35px 15px 85px;
                    }
                    li:first-child {
                        background: url(/img/li-one.png) 0px 20px no-repeat;
                    }
                    li:last-child {
                        background: url(/img/li-two.png) 0px 20px no-repeat;
                    }
                }
            }
            .form_item {
                width: 570px;
                background-color: #fff;
                form {
                    padding: 30px 50px 50px;
                    label {
                        font-family: "Commissioner";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 20px;
                        letter-spacing: 0.01em;
                        color: rgba(0, 0, 0, 0.5);
                        margin: 5px 5px;
                        display: block;
                    }
                    input {
                        width: 100%;
                        height: 35px;
                        border: none;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        font-family: "Lato", sans-serif;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 15px;
                        line-height: 25px;
                        color: rgba(0, 0, 0, 0.8);
                        opacity: 0.6;
                        margin: 0px 10px;
                    }
                    p {
                        font-family: "Lato", sans-serif;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 13px;
                        line-height: 20px;
                        color: rgba(0, 0, 0, 0.5);
                        padding-top: 20px;
                    }
                    a {
                        font-family: "Lato", sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 20px;
                        text-decoration-line: underline;
                        color: rgba(0, 0, 0, 0.5);
                    }
                    input[type="button"] {
                        font-family: "Commissioner";
                        font-style: normal;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 30px;
                        text-align: center;
                        letter-spacing: 0.08em;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        width: 470px;
                        height: 45px;
                        background: #DEC377;
                        border-radius: 2px;
                        opacity: 1;
                        margin: 30px 0 0 0;
                    }
                }
            }
        }
        .cost-services {
            padding: 0 15px;
            h2 {
                padding: 0;
            }
            p {
                font-family: "Lato", sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 15px;
                line-height: 25px;
                color: rgba(0, 0, 0, 0.8);
                width: 670px;
                padding: 30px 0;
            }
            button {
                width: 200px;
                height: 45px;
                background: #DEC377;
                border-radius: 2px;
                font-family: "Commissioner";
                font-style: normal;
                font-weight: bold;
                font-size: 13px;
                line-height: 30px;
                text-align: center;
                letter-spacing: 0.08em;
                text-transform: uppercase;
                color: #FFFFFF;
                border: none;
            }
        }
    }

    .footer {
        background: #E5E5E5;
        .footer-container {
            display: flex;
            justify-content: space-between;
            padding: 0 15px 60px;
            .footer-item {
                h2 {
                    font-family: "Commissioner";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 30px;
                    color: rgba(0, 0, 0, 0.9);
                    padding: 50px 0 70px 0;
                }
                h3 {
                    font-family: "Lato", sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: rgba(0, 0, 0, 0.5);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                }
                h4 {
                    font-family: "Commissioner";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 25px;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    color: rgba(0, 0, 0, 0.75);
                    padding: 35px 0 5px;
                }
                h5 {
                    font-family: "Commissioner";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 20px;
                    letter-spacing: 0.01em;
                    color: rgba(0, 0, 0, 0.75);
                    margin-top: 5px;
                }
                img {
                    padding: 60px 15px 50px 0;
                    margin-left: -3px;
                }
                .footer-item_adres {
                    display: flex;
                    justify-content: space-between;
                    .adres-item {
                        width: 200px;
                        a {
                            font-family: 'Lato', sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 13px;
                            color: rgba(0, 0, 0, 0.8);
                            text-decoration: none;
                            padding-top: 5px;
                            display: block;
                        }
                        a[href="tel:+375 (44) 755-01-01"] {
                            padding-top: 15px;
                        }
                        a[href="tel:+375 (17) 374-40-60"] {
                            padding-bottom: 15px;
                        }
                        p {
                            font-family: 'Lato', sans-serif;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 13px;
                            line-height: 20px;
                            color: rgba(0, 0, 0, 0.5);
                        }
                    }
                }
            }
            .item_one {
                width: 280px;
                p {
                    font-family: "Commissioner";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 20px;
                    letter-spacing: 0.01em;
                    color: rgba(0, 0, 0, 0.5);
                    margin: 0 0 10px;
                    span {
                        font-family: 'Lato', sans-serif;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 13px;
                        line-height: 20px;
                        color: rgba(0, 0, 0, 0.5);
                        padding-left: 15px;
                    }
                }
                a::after {
                    content: url(/img/arrow.png);
                    padding-left: 15px;
                }
                a {
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    color: rgba(0, 0, 0, 0.75);
                    text-decoration: none;
                    width: 237px;
                    padding-bottom: 30px;
                    display: block;
                }
                a:last-child::after {
                    position: relative;
                    bottom: 10px;
                }
            }
            .item_two {
                width: 670px;
            }
            .item_three {
                width: 170px;
                h5 {
                    padding-top: 30px;
                }
                p {
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 20px;
                    color: rgba(0, 0, 0, 0.5);
                }
            }
            .item_two,
            .item_three {
                padding: 85px 0 0 0;
            }
        }
        .footer-bottom {
            background: rgba(0, 0, 0, 0.1);
            text-align: center;
            p {
                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.02em;
                color: rgba(0, 0, 0, 0.8);
                padding: 17px 0 18px;
            }
        }
    }

    @media screen and (max-width: 390px) {}
